div.footerBg {
  background-color: #c3c4cd;
  color: #022b41;
  font-weight: bold;
  padding: 40px 5%;
}

div.footerContainer {
  max-width: 1100px;
}

div.contact > h6,
div.about > h6 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: underline;
  text-underline-offset: 7px;
}

div.contact span,
div.contact a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
}

hr {
  margin: 30px 0;
}

div.vr {
  border-left: 1px solid black;
  height: 200px;
  align-self: center;
  opacity: 0.1;
}

@media (min-width: 576px) {
  div.footerBg {
    padding: 50px 20%;
  }
}

@media (min-width: 768px) {
  div.contact span,
  div.contact a {
    padding: 7px 10px;
  }
}

@media (min-width: 992px) {
  div.footerBg {
    padding: 50px 10%;
  }

  div.contact {
    margin-right: auto;
  }

  div.contact a {
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s;
  }

  div.contact a:hover {
    padding-left: 20px;
    background-color: #022b41;
    color: white;
  }

  div.about {
    margin-left: auto;
    width: 350px;
  }

  div.about > p {
    max-width: 500px;
  }
}

@media (min-width: 1200px) {
  div.vr {
    height: 170px;
  }

  div.about {
    width: 450px;
  }
}

@media (min-width: 1400px) {
  div.vr {
    height: 170px;
  }

  div.about {
    width: 600px;
  }

  div.about > p {
    max-width: 600px;
  }
}
